/* This is preventing a scroll bar. making the content fit to the screen */
* {
    box-sizing: border-box;
}

/* Main / Side Navigation
This is just generic and here to give general framing of the screens for now
 */

.main-navigation {
    position: fixed;
    top: 100px;
    left: 30px;

    width: 200px;
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navigation li {
    margin-bottom: 10px;
}

.main-navigation a {
    text-decoration: none;
}


/* Secondary / Top Navigation
This is just generic and here to give general framing of the screens for now
*/

.secondary-navigation {
    position: fixed;
    top: 30px;
    right: 30px;
}

.secondary-navigation ul {
    display: flex;
    align-items: center;
    gap: 20px;

    list-style: none;
    margin: 0;
    padding: 0;
}

.secondary-navigation a {
    text-decoration: none;
}


/*Landing Page */

.landing-page {
    margin: 0;
}

.landing-header {
    width: 100%;
    padding: 20px 30px;
}

.landing-navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;

    list-style: none;
    margin: 0;
    padding: 0;
}

.landing-navigation a {
    text-decoration: none;
}

.landing-content {
    padding: 40px;
}